boto
boto3
botocore
bz2file
certifi
chardet
cycler
docutils
gensim
idna
jmespath
kiwisolver
matplotlib
nltk
numpy
pandas
patsy
pyparsing
python-dateutil
pytz
requests
s3transfer
scipy
six
smart-open
statsmodels
tqdm
urllib3
bs4
sklearn
prompt-toolkit
kneed
pillow
